.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 20px 50px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    font-size: 20px;
}

.nav-menu li{
    margin: 1rem;
    cursor: pointer;
    color: rgb(108, 172, 241);
}

.nav-menu li:hover{
    color: lightblue;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid ;
}